* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    color: #1e293b;
    line-height: 1.6;
}


header {
    background: #0f172a;
    color: white;
    padding: 20px;
    text-align: center;
}



nav {
    background: #1e40af;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


main {
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #cbd5e1;
    padding: 10px;
    text-align: center;
}

th {
    background: #e2e8f0;
}


form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button,
input[type="submit"],
input[type="reset"] {
    margin-top: 15px;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

img,
video,
iframe {
    display: block;
    margin: 15px auto;
    max-width: 100%;
}

aside {
    background: #e0f2fe;
    padding: 15px;
    margin: 20px;
}

footer {
    background: #020617;
    color: white;
    text-align: center;
    padding: 15px;
}

blockquote {
    border-left: 4px solid #cbd5e1;
    padding-left: 15px;
    margin: 20px 0;
    color: #475569;
}