

.skills-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 40px;
    scroll-behavior: smooth;
    justify-content: flex-start;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-collapse {
    transition: max-height .4s ease-in-out;
}

.skills-scroll::-webkit-scrollbar {
    height: 8px;
}

.skills-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.skill-card {
    min-width: 150px;
    height: 90px;
    background-color: #fcf9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    font-weight: 600;
    flex-shrink: 0;
}

.skill-card i {
    font-size: 28px;
}

.skill-card:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;

}
.project-content {
  display: none;
}

.project-content.active {
  display: block;
}

.nav-tabs .nav-link {
  color: #aaa;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: transparent;
  border-bottom: 3px solid #28a745;
}

.nav-item{
    color:black;
}

.project-images {
  max-width: 100%;
  padding-bottom: 10px;
}

.project-img {
  max-height: 300px;   
  width: auto;
  flex-shrink: 0;      
}

p.lead{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}